body {
	font-family: Futura, Arial, Sans-serif;
	margin: 0;
	padding: 0;
}

body#home {
	background-image: url('images/background.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment:fixed;
}

a {
	text-decoration: none;
}

#header {
	overflow: hidden;
	padding: 50px 80px 0px 80px;
}

#title {
	float: left;
	color: white;
	width: 600px;
	letter-spacing: 3px;
}

#title a {
	color : white;
}

#navbar {
	text-align: center;
	float: left;
	margin-top: 10px;
}

#navbar a {
	display: inline-block;
	width: 140px;
	color: white;
}

#navbar a:hover {
	letter-spacing: 5px;
	color: #DDDDDD;
}

#menu-icon {
	float: left;
	margin-top: 25px;
}

#logo {
	text-align: center;
	margin-top: 120px;
}

#menu {
	background-color: white;
	overflow: hidden;
	text-align: center;
	font-size: 17px;
	margin: 117px 80px 0px 80px;
}

.menu-content {
	float: left;
	width: 245px;
	padding: 20px 70px;
}

.bordered {
	border-left: solid;
	border-right: solid;
	border-width: 2px;
}

#menu h2 {
	color: black;
}

a.red {
	color: red;
}

a.red:hover {
	font-weight: bold;
}

#footer {
	background-color: #DDDDDD;
	font-size: 14px;
	margin-top: 150px;
	padding: 10px;
	overflow: hidden;
	text-align: center;
	line-height: 200%;
}

#footer a {
	color: black;
}

#fixed-header {
	top: 0;
	background-color: #444444;
	width: 1400px;
	height: 70px;
	margin: 0;
	padding: 0px 50px;
}

#fixed-header #title {
	width: 700px;
}

#container {
	margin: 0px 200px 100px 200px;
}

.article {
	padding: 30px 100px;
	text-align: justify;
}

.article h1 {
	text-align: center;
	font-size: 50px;
}

.article p {
	font-family: Serif;
	font-size: 20px;
}

.continue-reading {
	text-align: center;
	background-color: #e32929;
	padding: 10px;
	color: white;
}

.continue-reading:hover {
	background-color: #c92222;
}

.hidden-article {
	margin: 0;
	padding: 0;
	display: none;
}

.shrink-again {
	text-align: center;
	background-color: #4FA74F;
	padding: 20px;
}

.shrink-again:hover {
	background-color: #326832;
}

a.white {
	color:white;
}

a.black {
	color:black;
}

.fixed-navbar {
	margin-top: 200px;
}