/* Base */

body {
    margin: 0;
    font-family: Futura, Arial, Sans-serif;
    font-size: 16px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.content {
    padding-top: 100px;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 60%;
    overflow: hidden;
}

.article {
    font-size: 25px;
    margin-bottom: 100px;
}

a {
    text-decoration: none;
    color: #e57373;
}

/* Navigation Bar */

#navbar {
    overflow: hidden;
    width: 100%;
    padding: 0;
    position: fixed;
    background-color: #F9FAFB;
    border-bottom: solid 1px #E7E7E7;
}

#navbar li {
    list-style-type: none;
    display: inline;
}

#navbar a {
    color: black;
}

#title {
    float: left;
    padding: 0;
    font-size: 20px;
}

#navmenu {
    padding: 6px;
    float: right;
}

#navmenu li {
    padding-left: 50px;
}

/* Menu */

#menu {    
	overflow: hidden;
	text-align: center;
	font-size: 17px;
    font-weight: bold;
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: white;
	z-index: -1;
}

#menu h2 {
    color: black;
}

.menu-content {
	float: left;
	width: 20%;
	padding: 30px 6.5% 50px 6.5%;
}

.bordered {
	border-left: solid;
	border-right: solid;
	border-width: 3px;
}

/* Parallax */

section.module:last-child {
    margin-bottom: 0;
}

section.module p {
    margin-bottom: 40px;
    font-weight: 300;
}

section.module.content {
    padding: 0;
}

section.module.parallax {
    height: 700px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

/*
#tab {
    padding-left: 15%;
    text-align: left;
}*/

section.module.parallax h1, h3, h4 {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
    width: 55%;
    margin: 0 auto 20px auto;
}

section.module.parallax h1 {
    font-size: 40px;
}

section.module.parallax h3 {
    font-size: 22px;
}

section.module.parallax h4 {
    font-size: 18px;
}

section.module.parallax-1 h1 {
    padding-top: 300px;
}

section.module.parallax-2 h1 {
    padding-top: 250px;
}

section.module.parallax-1 {
    background-image: url("img/1.jpg");
}

section.module.parallax-2 {
    background-image: url("img/2.jpg");
}

/* Footer */


#footer {
	padding: 50px;
	overflow: hidden;
	text-align: center;
	line-height: 200%;
	background-color: #F9FAFB;
}

#footer a {
	color: black;
}
